*{
  margin:0;
  padding: 0;
}
.clown-container {
  /* width: vw;
  height: vh; */
  display: grid;
  grid-auto-flow: column dense;
  gap: 0px;
  grid-template: repeat(4, auto) / repeat(4, auto);

}
.clown{
  /* display: flex; */
  /* display: grid;
  grid-auto-flow: column dense; */
}

.clown .button{
  border: none;
  /* display: flex; */
  
}
/* @media (prefers-reduced-motion: no-preference) {
  .clown .button {
    animation: App-logo-spin infinite 10s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
