*{
  margin:0;
  padding: 0;
}
.outer-container {
  background: repeating-radial-gradient(circle,
      purple,
      purple 10px,
      #4b026f 10px,
      #4b026f 20px);
  font-size: 200px;
  color: aquamarine;
}
.clown-container {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
      align-items: center;
      align-content: space-around;
    /* grid-template: repeat(4, auto) / repeat(4, auto); */

}
.clown{

}

.clown .button{
  border: none;
  /* display: flex; */
  
}
/* @media (prefers-reduced-motion: no-preference) {
  .clown .button {
    animation: App-logo-spin infinite 10s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
